Scrapy==2.4.1
scrapyd-client @ git+https://github.com/iamumairayub/scrapyd-client.git@c4575befa450aa3054c893a8895086d1fb449405
scrapyd==1.2.1
{%- if cookiecutter.db_driver == 'sqlachemy(sync)'%}
sqlalchemy==1.3.23
{%- endif %}
{%- if cookiecutter.db_driver == 'gino(async)'%}
gino==1.0.1
gino-starlette==0.1.1
uvicorn==0.14.0
fastapi==0.64
pydantic==1.8.2
aiomisc==14.1.0
{%- endif %}
{%- if cookiecutter.sqlachemy_driver == 'mysql' %}
mysqlclient==2.0.3
{%- endif %}

{%- if cookiecutter.sqlachemy_driver == 'postgresql' and cookiecutter.db_driver == 'sqlachemy(sync)'%}
psycopg2-binary==2.8.6
{%- endif %}
{%- if cookiecutter.sqlachemy_driver == 'postgresql' and cookiecutter.db_driver == 'gino(async)'%}
asyncpg==0.23.0
{%- endif %}
requests==2.25.1
{%- if cookiecutter.use_celery_pipeline == "y" %}
redis==3.5.3
celery==5.1.0
{%- endif %}
{%- if cookiecutter.scheduler == "scrapydweb" %}
logparser==0.8.2
{%- endif %}
