Scrapy
scrapyd
sqlalchemy
{%- if cookiecutter.sqlachemy_driver == 'mysql' %}
mysqlclient
{%- endif %}

{%- if cookiecutter.sqlachemy_driver == 'postgresql' %}
psycopg2-binary
{%- endif %}
requests

pre-commit
#Code quality
black==20.8b1
isort==5.6.4
flake8==3.8.4
flake8-isort==4.0.0

{%- if cookiecutter.use_celery_pipeline == "y" %}
redis
celery
{%- endif %}
