Scrapy
scrapyd
sqlalchemy
{%- if cookiecutter.sqlachemy_driver == 'mysql' %}
mysqlclient
{%- endif %}

{%- if cookiecutter.sqlachemy_driver == 'postgresql' %}
psycopg2-binary
{%- endif %}
requests

{%- if cookiecutter.use_celery_pipeline == "y" %}
redis
celery
{%- endif %}
